<a href="https://colab.research.google.com/github/AravindYadlapalli/Python-Basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#slicing a String
a="I like python"
print(a[0:-1])
print(len(a))
print(a.title())
print(a[::-1])#It will print reverse format
print(a[::-2])#It will print alternative numbers in reverse format(which even starts from -1 index)

I like pytho
13
I Like Python
nohtyp ekil I
nhy klI

In [ ]:
#Reversing a String
a="input"
print(a[::-1])

#Reversing a integer
a=int(input())
num1=a%10
num2=a//10
print(num1*10+num2)

tupni
46
64

In [ ]:
#While loop
i=0
while(i<3):
  i=i+1
  print(i)

1
2
3

In [ ]:
#Boolean Trivials
print(0 or 1) #it will print true value that is 1
print(0 and 1) #Now it will give second value as output until and unless the first one "0"
print(1 and 6)
print(6 or 7) #If the values are not 0 and 1 then it will print the first number
print('a' and 'b')
print('a' or 'b')

1
0
6
6
b
a

In [ ]:
#If-else conditional
a=input("Enter Name:")
if (len(a)>8):
  print("hi", a, "nice to meet you")

else:
  print("Hello", a, "Pleased to meet you")

Enter Name:aravindbabu
hi aravindbabu nice to meet you

In [ ]:
#for loop in strings
a="input"
for i in a:
  print(i, end="")

input

In [ ]:
#Print only Vowels from name
a=input()
b="aeiou"
for i in a:
    if i in b: #Here if we use "not in" then it will take the chars not in b and then it prints that
              #If we give "in" then it wiil print the vowels in our input
      print(i)

aravind
a
a
i

In [ ]:
#Factorial of numbers

#Method-1:
import math
n=int(input())
print(math.factorial(n))

#Method-2:
num=int(input())
fact=1
for i in range(1,num+1):
  fact=fact*i
print(fact)

5
120
5
120

In [ ]:
#Adding numbers in a list
a=[7,2,8,7,8,8,9,3,4,9]
sum=0
for i in a:
  sum=sum+i
print(sum)

65

In [ ]:
a=[1,2,3,4]
a.append(6)
print(a)

[1, 2, 3, 4, 6]

In [ ]:
#Printing numbers which are not in our mobile number


a=[7,2,8,7,8,8,9,3,4,9]
b=[0,1,2,3,4,5,6,7,8,9]
for i in b:
  if i not in a:
    print(i)

0
1
5
6

In [ ]:
#Giving list as user input
#using keywords
a = list(map(int, input().split()))

1 2 3 4 5 6

In [ ]:
n=[1,2,3,4,5,6]
m=n[::-2]

result=1
sum=0
for i in n:
  
  result=result*i
  print(result)
if i not in m:
  sum=sum+i
  print(sum)

1
2
6
24
120
720

In [ ]:
#Run time input for lists
a=list(map(int,input().split())) #Here we use split function to erase additional spaces in the list 
print(a)

1  2 3  4     5
[1, 2, 3, 4, 5]

In [ ]:
a=list(map(int,input().split()))
b=[]
c=a[::-2]
for i in c:
  if i not in b:
    i=b.append(i)
print(c,b)

1 2 3 4 5
[5, 3, 1] [5, 3, 1]

In [ ]:
#Sum of every elemnets in list
a=[1,2,3,4,5,6]
sum=1
for i in a:
  if i==1:
    print(i)
  else:
    sum=(sum+i)
    print(sum)

1
3
6
10
15
21
40
63

In [ ]:
#Tuples
a=(1,2,3,4)
#tuples are unchangeable we can't edit or remove any elements in the tuple so to edit tuple first we need to convert them into list then we can edit that
lis=list(a)#Using List() we can conert tuple into lists 
print(lis)

[1, 2, 3, 4]

In [ ]:
#sets
set1={1,2,3,4,5,6,7}
set2={1,4,6,9}
print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6, 7, 9}
{1, 4, 6}

In [ ]:
#Removing Duplicates from the list
#2-lines code
a=list(map(int,input().split()))
print(list(set(a)))#Here we use set to remove duplicates from the list and to print it in list format we used list()

#1-line code
print(list(set(list(map(int,input().split())))))

1 2 3 45 56 77 7 7 8 8 89 9 9
[1, 2, 3, 7, 8, 9, 45, 77, 56, 89]
1 2 2 3 4 5 5 5 6 7 8 89 9
[1, 2, 3, 4, 5, 6, 7, 8, 9, 89]

In [ ]:
#Dictonaries in python
dict= {"1":"one","2":"two"}#Here "1" is key and "one" is value  
print(dict["1"])#We can access a value by using it's key
print(dict.get("3"))# Using "get" function we can get values for the keys and if the key not present it will display as"None"

one
None

In [ ]:
#To print values of "abc" chars
dict={"a":"apple","b":"banana","c":"cat","d":"dog"}
inp=input("Enter chars:")
str=""
for i in inp:
  str=str+dict.get(i,"Not found")+ " "
print(str)

Enter chars:bgha
banana Not found Not found apple

In [ ]:

#To give dictonaries on run time
dictt={}
n=int(input("Enter No.of elements needed:"))
for i in range(n):
  key=input("Enter key:")
  value=input("Enter value:")
  dictt[key]=value #for reading the values we need to call key 
print(dictt)

Enter No.of elements needed:3
Enter key:1
Enter value:one
Enter key:2
Enter value:two
Enter key:3
Enter value:three
{'1': 'one', '2': 'two', '3': 'three'}

In [ ]:
#create a dictonaries and check whether value is div by 7 if yes then print cube root for it else print factorial of that number at final print both lists
dict={}
num=int(input("Enter No.of elements:"))
for i in range(num):
  key=input("enter the key:")
  value=int(input("enter the value"))
  dict[key]=value
print(dict)
l1=[]
l2=[]
for i in dict:
  if dict[i]%7==0:
    l1.append(dict[i]**3)
  else:
    fact=1
    for j in range(1,dict[i]+1):
      fact=fact*j
    l2.append(fact)
print(f'{sum(l1)} \n{sum(l2)}') #Run this code in gdb

Enter No.of elements:2
enter the key:a
enter the value3
enter the key:b
enter the value7
{'a': 3, 'b': 7}

TypeError: ignored

In [ ]:
#Taking inputs as lists for key and value & printing in dictonaries format
d={}
keylist=list(map(int,input().split()))
valuelist=list(map(int,input().split()))
if len(keylist)==len(valuelist):# we use len becoz there should be equal elements in key n values so it fails if we enter 2 as keys and 3 as values
  for i in range(len(keylist)):
    d[keylist[i]]=valuelist[i]
  print(d)
else:
  print("Not applicable")

2
4
{2: 4}

In [ ]:
num=list(map(int,input().split()))
b=num[::-2]
if (num%2==1 ):
  print("Its perfect square")
elif(num==3 and num==9):
  print("Its perfect square")
else:
  b%2==0
  print("Perfect square")

4 41

TypeError: ignored

In [ ]:
n = int(input())
for i in range(0,n):
    print(i)

5
0
1
2
3
4

In [ ]:
year=int(input())
if(year%400==0):
    print("True")
else:
    print("False")

2400
True

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
lis=set(arr)
lis.remove(max(lis))
print(max(lis))

3
1 2 4
2